@import 'color.scss';
@import 'font-size.scss';

body {
  background-color: $darkGray;
}

hr {
  background-color: $lightGray;
}

.intro-text{
  color: $white;
  height: 100vh;
  
  strong {
    color: $white;
  }

  strong:nth-child(1) {
    color: $yellow;
    font-weight: 800;
    text-decoration: underline;
  }
}

.section-heading{
  h2 {
    position: relative;
    font-weight: 200;
    color: $white;

    strong {
      font-weight: 800;
    }
  }
}

.Presentation {
  &-Container {
    height: 100vh;

    h2 {
      p {
        font-size: $text-small;
      }
    }
  }
}

.AboutMe {
  &-PictureContainer{
    filter: grayscale(90%);
  }

  &-Picture {
    height: 400px;
  }

  h2 {
    color: $white;
  }

  p {
    font-weight: 200;
    line-height: 2;
    color: $lightGray;
  }
}


.hireMe {
  background-color: $yellow;
  border-color: $yellow;

  &:hover, &:focus, &:active, &:focus-within, &:visited, &::after, &::selection{
    background-color: $darkYellow;
    border-color: $white;
  }
}