@import 'color.scss';
@import 'font-size.scss';

body {
  background-color: $darkGray;
}

hr {
  background-color: $lightGray;
}

.intro-text{
  color: $white;
  height: 100vh;
  
  strong {
    color: $white;
  }

  strong:nth-child(1) {
    color: $yellow;
    font-weight: 800;
    text-decoration: underline;
    //background-color: $black;
  }
}

.section-heading{
  h2 {
    position: relative;
    font-weight: 200;
    color: $white;

    strong {
      font-weight: 800;
    }
  }
}

.Presentation {
  &-Container {
    height: 100vh;

    h2 {
      p {
        font-size: $text-small;
      }
    }
  }
}
