@import 'color.scss';
@import 'font-size.scss';

.resume {
    &-sectionTitle{
        color: $white;
    }

    &-item {
        padding: 30px;
        background: $gray;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        border: 4px solid transparent;
        border-radius: 7px;

        &Description {
            color: $lightGray;
        }

        h3{
            color: $yellow;
            font-size: $text-medium;
        }

        .date{
            font-size: $text-small;
            font-weight: 700;
            color: $white;
        }
        .school{
            color: rgba(255, 255, 255, 0.3);
        }
    }
}