@import 'color.scss';

body {
  background-color: $dark;
}

hr {
  background-color: $lightWhite;
}

.intro-text{
  color: $white;
  height: 100vh;
  
  strong {
    color: $white;
  }

  strong:nth-child(1) {
    color: $yellow;
    font-weight: 800;
    text-decoration: underline;
    //background-color: $black;
  }
}

.section-heading{
  h2 {
    position: relative;
    font-weight: 200;
    color: $white;

    strong {
      font-weight: 800;
    }
  }
}

.Presentation{
  &-Container {
    //-webkit-filter: grayscale(10%);
    height: 100vh;
    
  }
}
